In [1]:
setwd("C:/Users/acer/Desktop/data science/R")
getwd()

[1] "C:/Users/acer/Desktop/data science/R"

In [2]:
my_data <- read.table("Data.txt", header= TRUE)
my_data

  Id Name DEPARTMENT
1 1  JEFF SALES
2 2  JANE MARKETING
3 3  ADAM ENGINEERING

In [3]:
str(my_data)

'data.frame':	3 obs. of  3 variables:
 $ Id        : int  1 2 3
 $ Name      : Factor w/ 3 levels "ADAM","JANE",..: 3 2 1
 $ DEPARTMENT: Factor w/ 3 levels "ENGINEERING",..: 3 2 1

In [6]:
#convert the factor representation of strings to char
my_data <- read.table("Data.txt", header= TRUE, stringsAsFactors = FALSE)
str(my_data)

'data.frame':	3 obs. of  3 variables:
 $ Id        : int  1 2 3
 $ Name      : chr  "JEFF" "JANE" "ADAM"
 $ DEPARTMENT: chr  "SALES" "MARKETING" "ENGINEERING"

In [8]:
#used to skip any amount of lines
my_data <- read.table("Data.txt", header= TRUE, stringsAsFactors = FALSE , skip =2)
my_data

  X2 JANE MARKETING
1 3  ADAM ENGINEERING

In [9]:
my_data <- read.table("Data.txt", header= TRUE, sep='')
my_data

  Id Name DEPARTMENT
1 1  JEFF SALES
2 2  JANE MARKETING
3 3  ADAM ENGINEERING

In [2]:
my_data <- read.table("Data.txt", header= FALSE, stringsAsFactors = FALSE , skip =2, nrows=3,col.names=c("id","name","Salary"))
my_data

  id name Salary
1 2  JANE MARKETING
2 3  ADAM ENGINEERING